@model Gauri.Models.ClientViewModel

@{
    ViewBag.Title = "Adauga o lucrare";
}

<h2>Lucrare noua</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Loc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Loc)
            @Html.ValidationMessageFor(model => model.Loc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D50)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D50)
            @Html.ValidationMessageFor(model => model.D50)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D60)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D60)
            @Html.ValidationMessageFor(model => model.D60)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D70)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D70)
            @Html.ValidationMessageFor(model => model.D70)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D80)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D80)
            @Html.ValidationMessageFor(model => model.D80)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D90)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D90)
            @Html.ValidationMessageFor(model => model.D90)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D112)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D112)
            @Html.ValidationMessageFor(model => model.D112)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.D122)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D122)
            @Html.ValidationMessageFor(model => model.D122)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.D132)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.D132)
            @Html.ValidationMessageFor(model => model.D132)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceivedAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceivedAmount)
            @Html.ValidationMessageFor(model => model.ReceivedAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Costs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Costs)
            @Html.ValidationMessageFor(model => model.Costs)
        </div>

        <p>
            <input type="submit" value="Adauga" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Inapoi la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
