@model Gauri.Models.ClientViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Client</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Loc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Loc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D50)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D50)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D60)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D60)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D80)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D80)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D112)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D112)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.D132)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D132)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceivedAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceivedAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Costs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Costs)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
