@model Gauri.Models.SummaryViewModel

@{
    ViewBag.Title = "Totaluri";
}

<h2>Totaluri</h2>

<table>
    <tr>
        <th> @Html.DisplayNameFor(model => model.D50)</th>
        <th> @Html.DisplayNameFor(model => model.D60)</th>
        <th> @Html.DisplayNameFor(model => model.D80)</th>
        <th> @Html.DisplayNameFor(model => model.D112)</th>
        <th> @Html.DisplayNameFor(model => model.D132)</th>
        <th> @Html.DisplayNameFor(model => model.ReceivedAmount)</th>
        <th> @Html.DisplayNameFor(model => model.Costs)</th>
        <th> @Html.DisplayNameFor(model => model.Costs1)</th>
        <th> @Html.DisplayNameFor(model => model.Profit)</th>

    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.D50)</td>
        <td>@Html.DisplayFor(model => model.D60)</td>
        <td>@Html.DisplayFor(model => model.D80)</td>
        <td>@Html.DisplayFor(model => model.D112)</td>
        <td>@Html.DisplayFor(model => model.D132)</td>
        <td>@Html.DisplayFor(model => model.ReceivedAmount)</td>
        <td>@Html.DisplayFor(model => model.Costs)</td>
        <td>@Html.DisplayFor(model => model.Costs1)</td>
        <td>@Html.DisplayFor(model => model.Profit)</td>
    </tr>
</table>
@*<p>*@
@*    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |*@
@*    @Html.ActionLink("Back to List", "Index")*@
@*</p>*@
